<div class="globo-formbuilder" data-id={{section.settings.form_id}} ></div>
{% schema %}
  {
    "name": "Form",
    "settings": [
        {
          "type": "select",
          "id": "form_id",
          "label": "Select form to display",
          "default": "NzEyOTM=",
          "options": [{"label":"Contact form","value":"NzEyOTM="},{"label":"Request Quantity Pricing","value":"NzEzMDM="},{"label":"Lighting Services Request","value":"NzE2ODc="},{"label":"Lighting Partner Program","value":"NzE2OTA="},{"label":"Franchise Program form","value":"NzE2OTg="},{"label":"Rebate Assistance Request","value":"NzE3MDA="},{"label":"Light Pole Quote Request","value":"NzE3MDE="},{"label":"Job Interest form","value":"NzE3MDU="},{"label":"Commercial Credit Application","value":"NzQ4MTI="},{"label":"Product Review Form","value":"Nzk1Nzc="},{"label":"High Bay Lighting Layout","value":"ODQwMzI="},{"label":"TEST FORM","value":"OTE0MjU="},{"label":"Lighting Services Consult","value":"MTAzOTU2"},{"label":"Dealership Form","value":"MTA0MzQz"},{"label":"Rebate Request Product Page","value":"MTA1NDc2"},{"label":"Product Inquiry","value":"MTA4NzQ4"},{"label":"Price Match Request","value":"MTEyNjky"},{"label":"Rebate Not Found Product Page","value":"MTE0MTE5"},{"label":"LinkedIn - PECO Lead Form","value":"MTE0NDAy"},{"label":"LinkedIn - ShortPECO Lead Form","value":"MTE0NzQx"}]
        }
    ],
    "presets": [
        {
          "name": {
            "en": "Form"
          },
          "category": {
            "en": "Powerful Contact Form Builder"
          }
        }
      ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}